.Box {
    width: 70%;
    margin:0 auto;
    border:1px #cccccc solid;
    overflow: hidden;
}
.top {
    padding-left: 20px;
    width: 10%;
    height:550px ;
    background-color: cornflowerblue;
    float: left;
}
.Box2{
    float: left;
}
.box {
    padding-left: 30px;
}
p {
    display: inline;
}
.ability, .eduprogram {
    line-height: 1.5em;
}