* {
    box-sizing: border-box;
}

.content {
    position: relative;
    width: 100%;
}

.left {
    border: red 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.middle {
    position: absolute;
    left: 300px;
    top: 0;
    border: yellow 1px solid;
    width: calc(100% - 30px);
}