html, body {
    box-sizing: content-box;
    width: 100%;
    display: flex;
    margin: 0;
}

.col-icon {
    background-color: black;
    width: 100px;
    height: auto;
}

.col-icon-top {
    width: 100px;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
}

.col-icon-top-each {
    width: 60px;
    border: black 1px solid;
    border-radius: 30px;
    margin: 20px 0 0 20px;
}

.col-icon-top-each:last-child {
    opacity: .7;
}

.col-icon-bottom {
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 80px;
    margin-left: 10px;
}

.col-icon-bottom-each {
    width: 15px;
    height: 15px;
}

.col-main {
    width: 250px;
    background-color: #0a2842;
}

.col-main-part {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px grey solid;
}

.col-main-part3 {
    width: 200px;
    margin: 0 auto;
    border: none;
}

.col-main-menu {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 200px;
}

.col-main-menu-cont {
    height: 1em;
    font-size: 12px;
    margin: 0;
    color: #504e4e;
}

.col-main-menu img {
    width: 12px;
    height: 12px;
}

.name {
    color: #aaa3a3;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
    height: 16px;
}

.col-main-menu-part {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.name-num:last-child {
    margin-top: 0
}

.name1 {
    margin-top: 0;
    color: #aaa3a3;
    font-size: 12px;
    margin-bottom: 0;
    height: 16px;
}

.name-num {
    font-size: 12px;
    width: 25px;
    text-align: center;
    color: white;
    background-color: #5e9ad7;
    border-bottom: 1px #5e9ad7 solid;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 0;
    height: 16px;
}

.name-symbol {
    font-size: 12px;
    text-align: center;
    color: white;
    width: 16px;
    height: 16px;
    background-color: red;
    border: 1px red solid;
    border-radius: 9px;
    margin-top: 10px;
    margin-bottom: 0;
}

.col-main-part-withphoto {
    display: flex;
    margin: 10px 0 0 5px;
}

.col-main-part-withphoto p {
    margin: 0
}

.col-main-menu-photo {
    width: 16px;
    height: 16px;
    margin-right: 7px;
}

.col-main-botoom {
    width: 200px;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    left: 125px;
}

.col-main-botom-title {
    display: flex;
    justify-content: space-between;
}

.col-main-bottom-titlename {
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
    padding: 0;
}

.col-main-bottom-proportion {
    /*overflow: hidden;*/
    position: relative;
}

.col-main-proportion {
    display: inline-block;
    width: 48px;
    height: 3px;
    background-color: mediumpurple;
    border: 1px solid mediumpurple;
    border-radius: 2.5px;
    position: absolute;
    bottom: 5px;
    z-index: 1;
}

.col-main-allproportion {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    width: 198px;
    height: 3px;
    background-color: rgba(108, 108, 104, 1);
    border: 1px solid rgba(108, 108, 104, 1);
    border-radius: 0 2.5px;
}


.col-cont {
    width: calc(100% - 350px);
    height: 100%;
}

.col-cont-title {
    width: auto;
    margin: 15px 25px 15px 35px;
    /*padding-bottom: 25px;*/
    display: flex;
    justify-content: space-between;
}

.col-cont-title-messages {
    margin: auto 0;
    padding: 0;
    font-size: 22px;
    height: 1em;
}

.col-cont-title-selfmessage {
    display: flex;
    justify-content: right;
    position: fixed;
    right: 0;
    top: 0;
}

.col-cont-title-selfphoto {
    width: 50px;
    height: 50px;
    border: 1px white solid;
    border-radius: 26px;
    margin: auto 0;
}

.col-cont-title-selfmessage {
    margin: auto 0;
}

.col-cont-title-selfname-usermessage {
    margin: auto 15px;
}

.col-cont-title-username {
    width: 85px;
    font-size: 15px;
    font-weight: bolder;
    color: #40ade2;
    margin: 0;
    padding: 0;
}

.col-cont-title-userlevel {
    width: 85px;
    font-size: 13px;
    color: #a8a6a6;
    padding: 0;
    margin: 0;
}

.col-cont-title-more {
    width: 10px;
    height: 10px;
    padding: 0 10px 0 20px;
    margin: auto 0;
}

.col-cont-menu {
    border-top: 1px solid #ccc;
    display: flex;
}

.col-cont-menu-search {
    width: 320px;
    padding: 0;
    border-right: 1px solid #ccc;
}

.col-cont-menu-label {
    width: 280px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.col-cont-menu-searchtext {
    width: 85%;
    font-size: 8px;
    height: 3em;
    text-indent: 1em;
    border: 1px solid #ccc;
    border-right: none;
}

::placeholder {
    color: dimgrey;
}

.col-cont-menu-btn {
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    border-left: none;
    background-image: url("icon/icon-twitter.png");
    background-size: cover;
}

.col-cont-contact {
    width: 320px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.col-cont-cont-contactperson {
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
    overflow: hidden;
}

.col-cont-cont-contactperson:last-child {
    border-bottom: 1px solid #ccc
}

#col-cont-cont-contactperson1 {
    box-sizing: border-box;
    padding: 15px 20px 15px 17px;
    overflow: hidden;
    border-left: 3px solid lightskyblue;
}

.col-cont-cont-contactperson-personinfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.contactperson-nameinfo {
    display: flex;
}

.contactperson-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: auto 0;
}

.contactperson-detailnameinfo {
    margin: auto 0 auto 20px;
}

.contact-selfstate {
    display: flex;
}

.bluecircle {
    background-color: deepskyblue;
    margin: 5px 3px 0 0;
    width: 4px;
    height: 4px;
    border: 1px solid deepskyblue;
    border-radius: 6px;
}

.contactperson-name {
    font-size: 12px;
    font-weight: bold;
    color: deepskyblue;
    margin: auto 0;
    height: 1em;
}

.contactperson-contcactway {
    font-size: 10px;
    color: #ccc;
    margin: 0;
    height: 1em;
    padding: 6px 0 0 0;
}

.contactperson-lasttime {
    font-size: 10px;
    margin: auto 0;
}

.contactperson-selfintroduction {
    display: flex;
    justify-content: space-between;
}

.contactperson-selfintrotext {
    font-size: 10px;
    line-height: 1.5em;
    width: 100%;
    margin: auto 0;
}

.contactperson-selfintrotext #contactperson-selfintrotext-1 {
    font-size: 10px;
    line-height: 1.5em;
    width: calc(100% - 30px);
    margin: auto 0;
}

.contactperson-infonum {
    color: white;
    font-size: 10px;
    background-color: cornflowerblue;
    text-align: center;
    align-items: center;
    border: 1px solid cornflowerblue;
    border-radius: 15px;
    width: 14px;
    height: 14px;
    padding: 0;
    margin: auto 0 auto 10px;
}

/*以下是右侧栏，包括：聊天对象+6个图标（加好友、分享文件、垃圾箱等） 以及对话框聊天信息*/
.col-cont-right {
    width: 100%;
}

.col-cont-right-menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.col-cont-menu-contactpersonname {
    display: flex;
}

.col-cont-greencircle {
    margin: auto 0 auto 5px;
    width: 4px;
    height: 4px;
    background-color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 4px;
}

.col-cont-menu-contactinfo {
    height: 58px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.col-cont-menu-allbtn {
    width: auto;
    padding: 0;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.col-cont-menu-messagepage {
    margin: auto 10px auto 40px;
    font-size: 12px;
}

#col-cont-menu-allbtn-iconrubbish, #col-cont-menu-allbtn-iconright {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
}

#col-cont-menu-allbtn-iconaddfriend, #col-cont-menu-allbtn-iconleft {
    border-radius: 5px 0 0 5px;
}

.col-cont-menu-allbtn-icon {
    width: 20px;
    height: 20px;
    margin: auto 0;
    padding: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}


















